/* #region general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:root {
    --main: #141922;
    --sidebar: #000000;
    --upgrade: #080b12;
    --footer: #282828;
    --text: #7c7e83;
    --light: #fafafa;
    --highlighted: #adff2f;
}

body {
    font-family: 'Circular Std', sans-serif;
}

img {
    max-width: 100%;
}

/* #endregion general */

/* #region debug */
.debug #bottom div {
    border: 1px solid red;
}

/* #endregion debug */


/* #region utilities  */
.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.col-2 {
    width: calc(100% / 12 * 2);
}


.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: calc(100% / 12 * 8);
}

/* #endregion utilities  */
/* #region top  */

/* #region content  */

#content {
    background-color: var(--main);
    height: calc(100vh - 70px);
    width: calc(100% - 30px);
    overflow-y: auto;
}

/* #endregion content  */

/* #region sidebar */
#sidebar {
    background-color: var(--sidebar);
    width: 30px;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: space-between;
}

/* #region top_sidebar */
#top_sidebar {
    padding-top: 0.5rem;
    height: calc(100% - 50px);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#top_sidebar .icon {
    width: 15px;
    margin: 0 0.5rem;
}

#logo #logo_large {
    display: none;
    width: 100px;
}

#top_sidebar span {
    display: none;
    color: var(--text);
    font-size: 0.6rem;
}
/* #endregion top_sidebar */
#bottom_sidebar {
    height: 50px;
}

/* #endregion sidebar */
/* #endregion top  */


/* #region bottom */

#bottom {
    background-color: var(--footer);
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom:0;
    right: 0;
    width: 100%;
}


/* #region bottom_left */
#bottom_left {
    justify-content: space-between;
    align-items: center;
}

#bottom_left .song {
    justify-content: space-between;
    align-items: center;

}

#bottom_left .song .text {
    line-height: 0.7rem;

}

#bottom_left .song .text h6 {
    color: var(--light);
}

#bottom_left span {
    display: block;
    color: var(--text);
}

#bottom_left .song .text span {
    font-size: 0.5rem;


}

#bottom_left .song .image,
#bottom_left .song .text {
    margin: 0 5px;
}

/* #endregion bottom_left */

/* #region bottom_center  */

#bottom_center {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

#bottom_center_up {
    justify-content: space-between;
    align-items: center;
    color: var(--light);
}

#left_buttons,
#right_buttons {
    justify-content: space-around;
}

#bottom_center_down {
    align-items: center;
    justify-content: space-between;
}

#bottom_center_down span {
    color: var(--light);
    font-size: 0.4rem;
}

#bottom_center_down .player_bar {
    width: 80%;
    height: 2px;
    background-color: var(--text);
    border-radius: 20px;
}

#bottom_center_down .player_bar .listened {
    height:100%;
    width: 20%;
    background-color: var(--light);
}
/* #endregion bottom_center  */

/* #region bottom_right */
    #bottom_right {
        align-items: center;
        justify-content: space-around;
    }
    #bottom_right span {
        color: var(--light);
    }

    #bottom_right .player_bar {
        width: 40%;
        height: 2px;
        background-color: var(--text);
        border-radius: 20px;
    }

    #bottom_right .player_bar .listened {
        height:100%;
        width: 20%;
        background-color: var(--light);
    }

/* #endregion bottom_right */
/* #endregion bottom */


/* #region responsive */

/* #region 480px */
@media screen and (min-width: 480px) {

    /* #region sidebar 480px */
    #sidebar {
        width: 180px;
    }

    /* #region top_sidebar 480px */
    #top_sidebar {
        height: calc(100% - 60px);
        align-items: start;
        gap: 0.5rem;
    }

    
    #top_sidebar .icon_container {
        display: flex
    }

    #logo #logo_small {
        display: none;
    }

    #logo #logo_large {
        display: block;
    }
    
    #top_sidebar span {
        display: block;
    }
     /* #endregion top_sidebar 480px */

    #bottom_sidebar {
        height: 60px;
    }

    /* #endregion sidebar 480px */

    /* #region content 480px*/
    #content {
        width: calc(100% - 180px);
        height: calc(100vh - 80px)
    }

    /* #endregion content 480px*/

    /* #region bottom 480px */
    #bottom {
        height: 80px;
    }

    /* #region bottom_left 480px*/

    #bottom_left .song .text {
        line-height: 0.7rem;

    }

    #bottom_left .song .text h6 {
        font-size: 0.7rem;
    }

    #bottom_left span {
        display: inline;

    }

    /* #endregion bottom_left 480px*/

    /* #region bottom center 480px */
    #bottom_center_down span {
        font-size: 0.5rem;
    }
    /* #endregion bottom center 480px*/
    /* #endregion bottom 480px*/
}

/* #endregion 480px */

/* #region 768px */
@media screen and (min-width: 768px) {

    /* #region utilities 768px */

    .container-md {
        width: 50%;
        margin: auto;
    }

    .col-md-3 {
        width: calc(100% /12 * 3)
    }


    .col-md-5 {
        width: calc(100% /12 * 5)
    }

    /* #endregion utilities 768px */
    /* #region sidebar 768px */

    #top_sidebar {
        height: calc(100% - 70px);
    }

    #bottom_sidebar {
        height: 70px;
    }

    /* #endregion sidebar 768px */

    /* #region content */
    #content {
        height: calc(100vh - 90px)
    }

    /* #endregion content */

    /* #region bottom */
    #bottom {
        height: 90px;
        align-items: unset;
    }

    /* #region bottom_center 768px  */

    #bottom_center {
        height: 60%;
    }

    #bottom_center_down span {
        font-size: 0.6rem;
    }

    /* #endregion bottom_center 768px */


    /* #endregion bottom */
}

/* #endregion 768px */

/* #region 1200px */
@media screen and (min-width: 1200px) {

    /* #region utilities 1200px */

    .container-lg {
        width: 30%;
        margin: auto;
    }

    .col-lg-2 {
        width: calc(100% /12 *2);
    }

    /* #endregion utilities 1200px */
    /* #region sidebar 1200px */

    #top_sidebar {
        height: calc(100% - 80px);
       
    }

    #bottom_sidebar {
        height: 80px;
    }

    /* #endregion sidebar 1200px */

    /* #region content */
    #content {
        height: calc(100vh - 100px)
    }

    /* #endregion content */

    /* #region bottom */
    #bottom {
        height: 100px;
    }
    #bottom_center_down span {
        font-size: 0.7rem;
    }

    /* #endregion bottom */
}

/* #endregion 1200px */
/* #endregion responsive */