/* #region general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:root {
    --main: #141922;
    --sidebar: #000000;
    --upgrade: #080b12;
    --footer: #282828;
    --text: #7c7e83;
    --light: #fafafa;
    --highlighted: #adff2f;
}

body {
    font-family: 'Circular Std', sans-serif;
}

img {
    max-width: 100%;
}

/* #endregion general */


/* #region utilities  */
.d-flex {
    display: flex;
}

.container {
    width: 90%;
    margin: auto;
}

.text-center {
    text-align: center;
}

.col-2 {
    width: calc(100% / 12 * 2);
}


.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

/* #endregion utilities  */
/* #region top  */
#top {
    height: calc(100vh - 70px);
}

/* #region sidebar */
#sidebar {
    background-color: var(--sidebar);
    width: 30px;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: space-between;
}
#sidebar h6 {
    color: var(--light);
}
/* #region top_sidebar */
#top_sidebar {
    padding-top: 0.5rem;
    height: calc(100% - 50px);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#top_sidebar .icon {
    width: 15px;
}

#logo #logo_large {
    display: none;
    width: 100px;
}

#top_sidebar span {
    display: none;
    color: var(--text);
    font-size: 0.6rem;
}
/* #region playlist */
#playlist {
    display: none;
}


#playlist #create_playlist {
    align-items: center;
}

#playlist .add {
    width: 30px;
    aspect-ratio: 1;
    background-color: var(--text);
    margin: 0.3rem 0.3rem 0.3rem 0;
    padding: 0.3rem;
}
#playlist_list {
    height: 50%;
    overflow-y: auto;
}

#playlist ul {
    color: var(--text);
    font-size: 0.6rem;
    line-height: 1.5rem;
   
}

#playlist li {
    list-style: none;
}
/* #endregion playlist */
/* #endregion top_sidebar */

/* #region bottom sidebar */

#bottom_sidebar {
    height: 10%;
    color: var(--text);
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem 0;
}

#bottom_sidebar .text, #bottom_sidebar hr {
    display: none;
}

#bottom_sidebar_up span {
    font-size: 0.6rem;
}
#bottom_sidebar_down {
    justify-content: center;
    align-items: center;
}
#bottom_sidebar_down .user {
    background-color: var(--text);
    border-radius: 50%;
}

#bottom_sidebar_down .user img {
    width: 80%;
    aspect-ratio: 1;
}



#bottom_sidebar_down h6 {
    display: none;
}

/* #endregion bottom sidebar */

/* #endregion sidebar */

/* #region content  */

#content {
    background-color: var(--main);
    width: calc(100% - 30px);
    overflow-y: auto;
}
/* #region upgrade banner */
#upgrade_banner {
    width: 100%;
    height: 50px;
    background-color: var(--upgrade);
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;

}

#upgrade_banner span {
    color: var(--light);
    border: 1px solid var(--light);
    padding: 0.5rem 2rem;
    border-radius: 50px;
    font-size: 0.6rem;
    margin: 0rem 0.5rem ;
}
/* #endregion upgrade banner */
 
/* #region menu */

.categories {
    flex-wrap: wrap;
    justify-content: center;
}

.categories .category {
    list-style: none;
    color: var(--text);
    font-size: 0.6rem;
    padding: 0.5rem 0;
}

/* #endregion menu */


/* #region music */
.music h3 {
    color: var(--light);
    margin: 1rem 0;
}
.music_content {
    flex-wrap: wrap;
    margin: 0 -1rem;
}
.music_content .item {
    padding: 0.2rem 0.5rem;
}

.music_content .item .text h5 {
    color: var(--light);
    margin: 0.3rem 0;
}

.music_content .item .text span {
    display: block;
    color: var(--text);
    font-size: 0.6rem;
}
/* #endregion music */
/* #endregion content  */

/* #endregion top  */


/* #region bottom */

#bottom {
    background-color: var(--footer);
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom:0;
    right: 0;
    width: 100%;
}


/* #region bottom_left */
#bottom_left {
    justify-content: space-between;
    align-items: center;
}

#bottom_left .song {
    justify-content: space-between;
    align-items: center;

}

#bottom_left .song .text {
    line-height: 0.7rem;

}

#bottom_left .song .text h6 {
    color: var(--light);
}

#bottom_left span {
    display: block;
    color: var(--text);
}

#bottom_left .song .text span {
    font-size: 0.5rem;


}

#bottom_left .song .image,
#bottom_left .song .text {
    margin: 0 5px;
}

/* #endregion bottom_left */

/* #region bottom_center  */

#bottom_center {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

#bottom_center_up {
    justify-content: space-between;
    align-items: center;
    color: var(--light);
}

#left_buttons,
#right_buttons {
    justify-content: space-around;
}

#bottom_center_down {
    align-items: center;
    justify-content: space-between;
}

#bottom_center_down span {
    color: var(--light);
    font-size: 0.4rem;
}

#bottom_center_down .player_bar {
    width: 80%;
    height: 2px;
    background-color: var(--text);
    border-radius: 20px;
}

#bottom_center_down .player_bar .listened {
    height:100%;
    width: 20%;
    background-color: var(--light);
}
/* #endregion bottom_center  */

/* #region bottom_right */
    #bottom_right {
        align-items: center;
        justify-content: space-around;
    }
    #bottom_right span {
        color: var(--light);
    }

    #bottom_right .player_bar {
        width: 40%;
        height: 2px;
        background-color: var(--text);
        border-radius: 20px;
    }

    #bottom_right .player_bar .listened {
        height:100%;
        width: 20%;
        background-color: var(--light);
    }

/* #endregion bottom_right */
/* #endregion bottom */


/* #region responsive */

/* #region 480px */
@media screen and (min-width: 480px) {
    /* #region utilities 480px */
    .col-s-2 {
        width: calc(100% / 12 * 2);
    }

    .col-s-4 {
        width: calc(100% / 12 * 4);
    }
    /* #region top 480px */
    #top {
        height: calc(100vh - 80px)
    }
    /* #region sidebar 480px */
    #sidebar {
        width: 180px;
        padding: 0 1rem;
    }

    /* #region top_sidebar 480px */
    #top_sidebar {
        height: calc(100% - 60px);
        align-items: start;
        gap: 0.5rem;
    }
    #top_sidebar .icon {
        margin-right: 0.5rem;
    }
    
    #top_sidebar .icon_container {
        display: flex;
    }

    #logo #logo_small {
        display: none;
    }

    #logo #logo_large {
        display: block;
    }
    
    #top_sidebar span {
        display: block;
    }
     /* #endregion top_sidebar 480px */

    /* #region playlist 480px */
    #playlist {
        display: block;
    }

    /* #endregion playlist 480px */

    #bottom_sidebar {
        height: 60px;
       
    }
    #bottom_sidebar_up {
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    #bottom_sidebar .text, #bottom_sidebar hr {
        display: block;
    }

    #bottom_sidebar_down {
        justify-content: flex-start;
    }

    #bottom_sidebar_down h6 {
        display: inline-block;
    }
    
    /* #endregion sidebar 480px */
     /* #region upgrade banner 480px */
    
    /* #endregion upgrade banner 480px */
    /* #region content 480px*/
    #content {
        width: calc(100% - 180px);
       
    }

    /* #endregion content 480px*/
    /* #region top 480px */
    /* #region bottom 480px */
    #bottom {
        height: 80px;
    }
}

    /* #region bottom_left 480px*/

    #bottom_left .song .text {
        line-height: 0.7rem;

    }

    #bottom_left .song .text h6 {
        font-size: 0.7rem;
    }

    #bottom_left span {
        display: inline;

    }

    /* #endregion bottom_left 480px*/

    /* #region bottom center 480px */
    #bottom_center_down span {
        font-size: 0.5rem;
    }
    /* #endregion bottom center 480px*/
    /* #endregion bottom 480px*/


/* #endregion 480px */

/* #region 768px */
@media screen and (min-width: 768px) {

    /* #region utilities 768px */


    .container-md {
        width: 50%;
        margin: auto;
    }

    .menu-container-md {
        width: 90%;
        margin: auto;
    }
    .col-md-2 {
        width: calc(100% /12 * 2)
    }

    .col-md-menu {
        width: calc(100% /5)
    }


    .col-md-3 {
        width: calc(100% /12 * 3)
    }


    .col-md-5 {
        width: calc(100% /12 * 5)
    }

    /* #endregion utilities 768px */
    /* #region top 768px */
    #top {
        height: calc(100vh - 90px)
    }
    /* #region sidebar 768px */

    #top_sidebar {
        height: calc(100% - 70px);
    }

    #bottom_sidebar {
        height: 70px;
    }

    /* #endregion sidebar 768px */


    /* #region content */
    
    /* #region menu 768px */



    /* #endregion content */
     /* #endregion top 768px */
    /* #region bottom */
    #bottom {
        height: 90px;
        align-items: unset;
    }

    /* #region bottom_center 768px  */

    #bottom_center {
        height: 60%;
    }

    #bottom_center_down span {
        font-size: 0.6rem;
    }

    /* #endregion bottom_center 768px */


    /* #endregion bottom */
}

/* #endregion 768px */

/* #region 1200px */
@media screen and (min-width: 1200px) {

    /* #region utilities 1200px */

    .container-lg {
        width: 30%;
        margin: auto;
    }

    .menu-container-lg {
        width: 50%;
        margin: auto;
    }

    .col-lg-2 {
        width: calc(100% /12 *2);
    }

    /* #endregion utilities 1200px */

    /* #region top 1200px */
    #top {
        height: calc(100vh - 100px)
    }

    /* #region sidebar 1200px */

    #top_sidebar {
        height: calc(100% - 80px);
       
    }

    #bottom_sidebar {
        height: 80px;
    }

    /* #endregion sidebar 1200px */

    /* #region content */
   

    /* #endregion content */
    /* #endregion top 1200px */
    /* #region bottom */
    #bottom {
        height: 100px;
    }
    #bottom_center_down span {
        font-size: 0.7rem;
    }

    /* #endregion bottom */
}

/* #endregion 1200px */
/* #endregion responsive */

/* #region 480px height */
@media screen and (max-height: 480px) {

    #bottom_sidebar {
        display: none;
    }
    
}
/* #endregion 480px height */