/* #region general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:root{
    --main: #141922;
    --sidebar: #000000;
    --upgrade: #080b12;
    --footer: #282828;
    --text: #7c7e83;
    --light:#fafafa; 
    --highlighted: #adff2f;
}

img {
    max-width: 100%;
}

/* #endregion general */

/* #region debug */
.debug #bottom {
    background-color: red;
}

.debug #content {
    background-color: blue;
}

.debug #top_sidebar {
    background-color: #adff2f;
}

.debug #bottom_sidebar {
    background-color: aqua;
}
/* #endregion debug */


/* #region utilities  */
.d-flex {
    display: flex;
}
/* #endregion utilities  */
/* #region top  */

/* #region content  */

#content {
    height: calc(100vh - 70px);
    width: calc(100% - 40px);
}
/* #endregion content  */

/* #region sidebar */
#sidebar {
    width: 40px;
}

#top_sidebar {
    height: calc(100% - 50px) ;
}
#bottom_sidebar {
    height: 50px;
}
/* #endregion sidebar */
/* #endregion top  */


/* #region bottom */

#bottom {
    height: 70px;
}

/* #endregion bottom */


/* #region responsive */

/* #region 480px */
    @media screen and (min-width: 480px) {

        /* #region sidebar 480px */
        #sidebar {
            width: 180px;
        }
        
        #top_sidebar {
            height: calc(100% - 60px) ;
        }
        #bottom_sidebar {
            height: 60px;
        }

        /* #endregion sidebar 480px */

        /* #region content */
        #content {
            width: calc(100% - 180px);
            height: calc(100vh - 80px)
        }
        /* #endregion content */

        /* #region bottom */
        #bottom {
            height: 80px;
        }
        
        /* #endregion bottom */
    }

/* #endregion 480px */

/* #region 768px */
@media screen and (min-width: 768px) {

    /* #region sidebar 768px */
    
    #top_sidebar {
        height: calc(100% - 70px) ;
    }
    #bottom_sidebar {
        height: 70px;
    }

    /* #endregion sidebar 768px */

    /* #region content */
    #content {
        height: calc(100vh - 90px)
    }
    /* #endregion content */

    /* #region bottom */
    #bottom {
        height: 90px;
    }
    
    /* #endregion bottom */
}

/* #endregion 768px */

/* #region 1200px */
@media screen and (min-width: 1200px) {

    /* #region sidebar 1200px */
    
    #top_sidebar {
        height: calc(100% - 80px) ;
    }
    #bottom_sidebar {
        height: 80px;
    }

    /* #endregion sidebar 1200px */

    /* #region content */
    #content {
        height: calc(100vh - 100px)
    }
    /* #endregion content */

    /* #region bottom */
    #bottom {
        height: 100px;
    }
    
    /* #endregion bottom */
}

/* #endregion 1200px */
/* #endregion responsive */