/* #region general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:root {
    --main: #141922;
    --sidebar: #000000;
    --upgrade: #080b12;
    --footer: #282828;
    --text: #7c7e83;
    --light: #fafafa;
    --highlighted: #adff2f;
}

img {
    max-width: 100%;
}

/* #endregion general */

/* #region debug */
.debug #bottom div {
    border: 1px solid red;
}

/* #endregion debug */


/* #region utilities  */
.d-flex {
    display: flex;
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: calc(100% / 12 * 8);
}

/* #endregion utilities  */
/* #region top  */

/* #region content  */

#content {
    background-color: var(--main);
    height: calc(100vh - 70px);
    width: calc(100% - 40px);
    overflow-y: auto;
}

/* #endregion content  */

/* #region sidebar */
#sidebar {
    background-color: var(--sidebar);
    width: 40px;
    overflow-y: hidden;
}

#top_sidebar {
    height: calc(100% - 50px);
}

#bottom_sidebar {
    height: 50px;
}

/* #endregion sidebar */
/* #endregion top  */


/* #region bottom */

#bottom {
    background-color: var(--footer);
    height: 70px;
    justify-content: space-between;
}


/* #region bottom_left */
#bottom_left {
    justify-content: space-between;
    align-items: center;
}

#bottom_left .song {
    justify-content: space-between;
    align-items: center;
  
}

#bottom_left .song .text {
    line-height: 0.7rem;

}

#bottom_left .song .text h6 {
    color: var(--light);
}

#bottom_left span {
    display: block;
    color: var(--text);
}

#bottom_left .song .text span {
    font-size: 0.5rem;
    

}

#bottom_left .song .image,
#bottom_left .song .text {
    margin: 0 5px;
}

/* #endregion bottom_left */
/* #endregion bottom */


/* #region responsive */

/* #region 480px */
@media screen and (min-width: 480px) {

    /* #region sidebar 480px */
    #sidebar {
        width: 180px;
    }

    #top_sidebar {
        height: calc(100% - 60px);
    }

    #bottom_sidebar {
        height: 60px;
    }

    /* #endregion sidebar 480px */

    /* #region content */
    #content {
        width: calc(100% - 180px);
        height: calc(100vh - 80px)
    }

    /* #endregion content */

    /* #region bottom */
    #bottom {
        height: 80px;
    }

    /* #region bottom_left 480px*/

    #bottom_left .song .text {
        line-height: 0.7rem;

    }

    #bottom_left .song .text h6 {
        font-size: 0.7rem;
    }

    #bottom_left span {
        display: inline;

    }
    /* #endregion bottom_left 480px*/
    /* #endregion bottom 480px*/
}

/* #endregion 480px */

/* #region 768px */
@media screen and (min-width: 768px) {

    /* #region utilities 768px */
    .col-md-3 {
        width: calc(100% /12 * 3)
    }


    .col-md-5 {
        width: calc(100% /12 * 5)
    }

    /* #endregion utilities 768px */
    /* #region sidebar 768px */

    #top_sidebar {
        height: calc(100% - 70px);
    }

    #bottom_sidebar {
        height: 70px;
    }

    /* #endregion sidebar 768px */

    /* #region content */
    #content {
        height: calc(100vh - 90px)
    }

    /* #endregion content */

    /* #region bottom */
    #bottom {
        height: 90px;
    }


    /* #endregion bottom */
}

/* #endregion 768px */

/* #region 1200px */
@media screen and (min-width: 1200px) {

    /* #region utilities 1200px */
    .col-lg-2 {
        width: calc(100% /12 *2);
    }

    /* #endregion utilities 1200px */
    /* #region sidebar 1200px */

    #top_sidebar {
        height: calc(100% - 80px);
    }

    #bottom_sidebar {
        height: 80px;
    }

    /* #endregion sidebar 1200px */

    /* #region content */
    #content {
        height: calc(100vh - 100px)
    }

    /* #endregion content */

    /* #region bottom */
    #bottom {
        height: 100px;
    }

    /* #endregion bottom */
}

/* #endregion 1200px */
/* #endregion responsive */