/* #region general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:root {
    --main: #141922;
    --sidebar: #000000;
    --upgrade: #080b12;
    --footer: #282828;
    --text: #7c7e83;
    --light: #fafafa;
    --highlighted: #adff2f;
}

body {
    font-family: 'Circular Std', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--text)
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(65, 65, 65)
}


/* #endregion general */


/* #region utilities  */
.d-flex {
    display: flex;
}

.container {
    width: 90%;
    margin: auto;
}

.text-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}
.col-2 {
    width: calc(100% / 12 * 2);
}


.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

/* #endregion utilities  */
/* #region top  */
#top {
    height: calc(100vh - 70px);
}

/* #region sidebar */
#sidebar {
    background-color: var(--sidebar);
    width: 30px;
    overflow-y: hidden;
}

#sidebar h6 {
    color: var(--light);
}

/* #region top_sidebar */
#top_sidebar {
    padding-top: 0.5rem;
    height: calc(100% - 50px);
    justify-content: flex-start;
}


#top_sidebar .icon_container:hover span {
    color: var(--light);
    cursor: pointer;
}

#top_sidebar .icon {
    width: 15px;
}

#logo #logo_large {
    display: none;
    width: 100px;
}

#top_sidebar span {
    display: none;
    color: var(--text);
    font-size: 0.6rem;
}

#top_sidebar .icon_container .home {
    color: var(--light);
}

/* #region playlist */
#playlist {
    display: none;
}



#playlist .add {
    width: 30px;
    aspect-ratio: 1;
    background-color: var(--text);
    margin: 0.3rem 0.3rem 0.3rem 0;
    padding: 0.3rem;
}

#playlist #create_playlist:hover .add {
    background-color: var(--light);
    cursor: pointer;
}

#playlist #create_playlist:hover span {
    color: var(--light);
    cursor: pointer;
}

#playlist_list {
    height: 30%;
    overflow-y: auto;
}

#playlist ul {
    color: var(--text);
    font-size: 0.6rem;
    line-height: 1.5rem;

}

#playlist li {
    list-style: none;
}

#playlist li:hover {
    color: var(--light);
    cursor: pointer;
}

/* #endregion playlist */
/* #endregion top_sidebar */

/* #region bottom sidebar */

#bottom_sidebar {
    height: 10%;
    color: var(--text);
    margin: 0.5rem 0;
}

#bottom_sidebar .text,
#bottom_sidebar hr {
    display: none;
}

#bottom_sidebar_up span {
    font-size: 0.6rem;
}

#bottom_sidebar_up span:hover {
    color: var(--light);
    cursor: pointer;
}

#bottom_sidebar_down {
    justify-content: center;
}

#bottom_sidebar_down .user {
    background-color: var(--text);
    border-radius: 50%;
    margin: 5px;
    padding: 1px;
}

#bottom_sidebar_down .user img {
    width: 80%;
    aspect-ratio: 1;
}



#bottom_sidebar_down h6 {
    display: none;
}

/* #endregion bottom sidebar */

/* #endregion sidebar */



main {
    background-color: var(--main);
    width: calc(100% - 30px);
}

/* #region upgrade banner */
#upgrade_banner {
    width: 100%;
    background-color: var(--upgrade);
    justify-content: flex-end;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 10000;
    padding: 0.5rem;

}

#upgrade_banner span {
    border: 1px solid var(--light);
    padding: 0.5rem 2rem;
    border-radius: 50px;
    font-size: 0.6rem;
    margin: 0rem 0.5rem;
}

#upgrade_banner span a {
    color: var(--light);
}

#upgrade_banner span:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* #endregion upgrade banner */
/* #region content  */

#content {
    overflow-y: auto;
}

/* #region menu */

.categories {
    flex-wrap: wrap;
    justify-content: center;
}

.categories .category {
    list-style: none;
    font-size: 0.6rem;
    padding: 0.8rem 0;
    font-weight: bold;
    position: relative;
}

.categories .category a {
    color: var(--text);

}

.categories .category:hover a {
    color: var(--light);
    cursor: pointer;
}

.categories .highlighted:after {
    content: "";
    height: 1px;
    width: 30%;
    background-color: var(--highlighted);
    position: absolute;
    bottom: 0.5rem;
    left: 35%;
}


/* #endregion menu */


/* #region music */
.music h3 {
    color: var(--light);
    margin: 1rem 0;
}



/* #region music_content */

/* #region recently_played */
#recently_played {
    flex-wrap: wrap;
    margin: 0 -1rem;
}

#recently_played .item {
    padding: 0.2rem 0.5rem;
}





#recently_played .item .text h5 {
    color: var(--light);
    margin: 0.3rem 0;
}

#recently_played .item .text span {
    display: block;
    color: var(--text);
    font-size: 0.6rem;
}

/* #endregion recently_played */

.row {
    position: relative
}

.row .item .image {
    position: relative;
}

.come_back_up {
    aspect-ratio: 2;
    border: 2px solid var(--light);
    border-radius: 50%;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
}

.come_back_up a {
    color: var(--light);
}

.player_button {
    color: var(--light);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: none;
}

.item .image:hover .player_button {
    display: block;
    cursor: pointer;
}

.item .image:hover img {
    opacity: 0.5;
}


.row h3 {
    color: var(--light);
    margin: 1rem 0 0.3rem 0;
}

.row span {
    color: var(--text);
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.music_content {
    flex-wrap: wrap;
}
.music_content .item,
#popoular_artist .item {
    padding: 1rem 0.5rem
}

.row .text{
    color: var(--light);
    padding: 0.5rem 0;
}
/* #region popoular artist */

#popoular_artist .image img {
    border-radius: 50%;
}

/* #endregion popoular artist */
/* #endregion music_content */


/* #endregion music */
/* #endregion content  */

/* #endregion top  */


/* #region bottom */

#bottom {
    background-color: var(--footer);
    height: 70px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}


/* #region bottom_left */


#bottom_left .song .text {
    line-height: 0.7rem;

}

#bottom_left .song .text h6 {
    color: var(--light);
}

#bottom_left span {
    display: block;
    color: var(--text);
}

#bottom_left .song .text span {
    font-size: 0.6rem;

}

#bottom_left .song .text span:hover {
    text-decoration: underline;
    cursor: pointer;
}

#bottom_left .song .image,
#bottom_left .song .text {
    margin: 0 5px;
}

#bottom_left .song .image {
    display: none;
}

#bottom_left .icons span:hover {
    color: var(--light);
}

/* #endregion bottom_left */

/* #region bottom_center  */

#bottom_center {
    height: 100%;
    justify-content: space-evenly;
}

#bottom_center_up {
    color: var(--light);
}


#bottom_center_up #play_button:hover {
    transform: scale(1.2);
}


#bottom_center_down span {
    color: var(--light);
    font-size: 0.4rem;
    padding: 0 2px;
}

#bottom_center_down .player_bar {
    width: 80%;
    height: 4px;
    background-color: var(--text);
    border-radius: 20px;
}

#bottom_center_down .player_bar .listened {
    height: 100%;
    width: 20%;
    background-color: var(--highlighted);
    position: relative;
    animation: move 249s;
}

/* #region animation player bar */
#bottom_center_down .player_bar .listened i {
    color: var(--light);
    position: absolute;
    top: 50%;
    right: 0;
}

@keyframes move {
    0% {
        width: 20%;
    }

    100% {
        width: 100%;
    }
}

/* #enregion animation player bar */
/* #region hover effect player bar */
/* #bottom_center_down:hover .listened{
    background-color: var(--highlighted);
}

#bottom_center_down:hover .listened i {
    display: block;
} */

/* #endregion hover effect player bar */
/* #endregion bottom_center  */

/* #region bottom_right */

#bottom_right span {
    color: var(--light);
}

#bottom_right .volume_bar {
    width: 40%;
    height: 4px;
    background-color: var(--text);
    border-radius: 20px;
    margin-right: 2px;
}

#bottom_right .volume_bar .volume {
    height: 100%;
    width: 20%;
    background-color: var(--light);
    position: relative;
}

#bottom_right .volume_bar .volume i {
    color: var(--light);
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
}

#bottom_right .volume_bar:hover .volume {
    background-color: var(--highlighted);
}

#bottom_right .volume_bar:hover .volume i {
    display: block;
}

/* #endregion bottom_right */
/* #endregion bottom */


/* #region responsive */

/* #region 480px */
@media screen and (min-width: 480px) {

    /* #region utilities 480px */
    .col-s-2 {
        width: calc(100% / 12 * 2);
    }

    .col-s-4 {
        width: calc(100% / 12 * 4);
    }

    /* #endregion utilities 480px */
    /* #region top 480px */
    #top {
        height: calc(100vh - 80px)
    }

    /* #region sidebar 480px */
    #sidebar {
        width: 180px;
        padding: 0 1rem;
    }

    /* #region top_sidebar 480px */
    #top_sidebar {
        height: calc(100% - 60px);
        align-items: start;
        gap: 0.5rem;
    }

    #top_sidebar .icon {
        margin-right: 0.5rem;
    }

    #top_sidebar .icon_container {
        display: flex;
    }

    #logo #logo_small {
        display: none;
    }

    #logo #logo_large {
        display: block;
    }

    #top_sidebar span {
        display: block;
    }

    /* #endregion top_sidebar 480px */

    /* #region playlist 480px */
    #playlist {
        display: block;
    }

    /* #endregion playlist 480px */

    #bottom_sidebar {
        height: 60px;
        align-items: normal;

    }

    #bottom_sidebar_up {
        gap: 0.3rem;
    }

    #bottom_sidebar .text,
    #bottom_sidebar hr {
        display: block;
    }

    #bottom_sidebar_down {
        justify-content: flex-start;
    }

    #bottom_sidebar_down h6 {
        display: inline-block;
    }

    #bottom_sidebar_down .user {
        margin: 5px 5px 5px 0;
    }

    /* #endregion sidebar 480px */
    /* #region upgrade banner 480px */

    /* #endregion upgrade banner 480px */
    /* #region content 480px*/
    main {
        width: calc(100% - 180px);

    }

    #content {
        overflow-x: hidden;
    }

    /* #endregion content 480px*/
    /* #endregion top 480px */
    /* #region bottom 480px */
    #bottom {
        height: 80px;
    }


    /* #region bottom_left 480px*/

    #bottom_left .song .text {
        line-height: 0.7rem;

    }

    #bottom_left .song .text h6 {
        font-size: 0.7rem;
    }

    #bottom_left span {
        display: inline;

    }

    #bottom_left .song .image {
        display: block;
    }

    /* #endregion bottom_left 480px*/

    /* #region bottom center 480px */
    #bottom_center_down span {
        font-size: 0.5rem;
    }

}

/* #endregion bottom center 480px*/

/* #endregion bottom 480px*/


/* #endregion 480px */

/* #region 768px */
@media screen and (min-width: 768px) {

    /* #region utilities 768px */


    .container-md {
        width: 50%;
        margin: auto;
    }

    .menu-container-md {
        width: 90%;
        margin: auto;
    }

    .col-md-2 {
        width: calc(100% /12 * 2)
    }

    .col-md-menu {
        width: calc(100% /5)
    }


    .col-md-3 {
        width: calc(100% /12 * 3)
    }


    .col-md-5 {
        width: calc(100% /12 * 5)
    }

    /* #endregion utilities 768px */
    /* #region top 768px */
    #top {
        height: calc(100vh - 90px)
    }

    /* #region sidebar 768px */

    #top_sidebar {
        height: calc(100% - 70px);
    }

    #bottom_sidebar {
        height: 70px;
    }

    /* #endregion sidebar 768px */


    /* #region content */

    /* #region menu 768px */



    /* #endregion content */
    /* #endregion top 768px */
    /* #region bottom */
    #bottom {
        height: 90px;
        align-items: unset;
    }

    /* #region bottom_center 768px  */

    #bottom_center {
        height: 60%;
    }

    #bottom_center_down span {
        font-size: 0.6rem;
    }

    /* #endregion bottom_center 768px */



}

/* #endregion bottom */
/* #endregion 768px */

/* #region 1200px */
@media screen and (min-width: 1200px) {

    /* #region utilities 1200px */

    .container-lg {
        width: 30%;
        margin: auto;
    }

    .menu-container-lg {
        width: 50%;
        margin: auto;
    }

    .col-lg-2 {
        width: calc(100% /12 *2);
    }

    /* #endregion utilities 1200px */

    /* #region top 1200px */
    #top {
        height: calc(100vh - 100px)
    }

    /* #region sidebar 1200px */

    #top_sidebar {
        height: calc(100% - 65px);

    }

    #bottom_sidebar {
        height: 65px;
        background-color: var(--sidebar);
    }

    /* #endregion sidebar 1200px */

    /* #region content */


    /* #endregion content */
    /* #endregion top 1200px */
    /* #region bottom */
    #bottom {
        height: 100px;
    }

    #bottom_center_down span {
        font-size: 0.7rem;
    }

    /* #endregion bottom */
}

/* #endregion 1200px */


/* #region 480px height */
@media screen and (max-height: 480px) {

    #bottom_sidebar {
        display: none;
    }

}

/* #endregion 480px height */

/* #region 350px height */
@media screen and (max-height: 350px) {

    #upgrade_banner {
        display: none;
    }

}

/* #endregion 350px height */

/* #endregion responsive */